<mat-card class='card'>
  <div class="card-name">
    <h3>{{ item.name }}</h3>
  </div>
  <div class="card-settings">
    <button mat-button disabled>Rename</button>
    <button mat-flat-button color="warn" (click)="onDelete()">Delete</button>
  </div>
</mat-card>