<form class="example-form" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Input name" name="title" [(ngModel)]="name">
  </mat-form-field>
  <button mat-raised-button color="primary" class="form-btn">Add</button>
</form>